@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }

  }


  @layer base {
    html {
      font-family: 'Montserrat', sans-serif;
      color: #303030;
     
      
      
      
    }
  }

.hide-card{
  opacity: 0;
  filter: blur(3px);
  transform: translateY(100%);
  transition: all 1s ease-out;
} 

 .show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
 }

 .custom-shape-divider-top-1679465019 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

